.footer-header{
    background: #0D4F8B;
    width: 100%;
    color: white;
    border-bottom-width : 50px;
}

.footer-header p {
    width: 50%;
    float: left;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #1B54A5;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #1a4fff;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.main-image .btn-primary {
    background-color: #3367B7;
    border-color: #2E49A4;
}

#myCarousel {
	margin-top: 5%;
	margin-bottom: 5%;
}

#myCarousel {
    margin-top: 5%;
    margin-bottom: 5%;
}

.white {
    margin-top: 5%;
    text-align: center;
}

.white h1{
    margin-bottom: 3%;
    font-size: 4vmin;
}

.white p{
    margin-top: 5%;
    font-size: 2vmin;
}

li {
   list-style:none;
}