body{
    margin-top: 50px;
}



.footer-header{
    background: #0D4F8B;
    width: 100%;
    color: white;
    border-bottom-width : 50px;
}

.footer-header p {
    width: 50%;
    float: left;
}




