@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
        position: relative;
        top: 0;

    }
    .navbar-nav > li.navbar-right {
        float: right !important;
    }
}
#wrap .navbar.navbar-default.navbar-fixed-top.second-navbar {
    top: 0;
}
#wrap .navbar-fixed-top {
    top: 50px;
}
#wrap .navbar-default {
    background-color: #002955;
    border-color: #FFFFFF;
}

#wrap .navbar-inverse {
    background-color: #FFF;
    border-color: #FFFFFF;
}

#wrap .navbar-header {
    float: right;
}

.upper-nav {
    float:right;
    transform: translate(0,70%);
}
.upper-nav p{
    display:inline;
    padding-right:10px;
    color: white;
}
.upper-nav img {
    padding-left:10px;
}

.pages {
    float:right;
    transform: translate(0,70%);
}
.pages p {
    display:inline;
    padding-left: 20px;
}
.social {
    float:right;
}
#special {
    height: 50px;
}
#top{
    background: #0D4F8B;
}
#emergency {
    color: #ff741a;
}
.logo img {
    width: 20%;
    min-width: 271px;
    min-height: 50px;
}
