#top-body{
    margin-top: 40px;
}

.slide-btn {
    padding: 0.6em 2em;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    border: 2px solid#0B509B;
    margin-top: 1em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    -webkit-transition: 0.5s all;
    border-radius: 5px;
}
#top-body .carousel-caption {
    display: inline-block;
    width: 100%;

    text-align: center;
}
#top-body h3 {
    color: #0B509B;
    font-size: 7vmin;
    text-shadow: 2px 2px #1E292B;
}
#top-body p {
    font-size: 2.5vmin;
    color: #002955;
    line-height: 1.6em;
    margin: 0 auto;
}

